/* project select menu items override */
.MuiSelect-select:focus {
	background: transparent !important;
}
.MuiSelect-select {
	border: 0.5px solid #525252 !important;
	background: transparent !important;
	border-radius: 10px !important;
	padding: 5px 13px !important;
}
.MuiListItem-root {
	padding: 10px !important;
	background: transparent !important;
	font-family: 'Source Sans Pro', sans-serif !important;
}
.MuiPaper-root {
	padding: 0px 10px !important;
}
.MuiListItem-root:focus {
	background: transparent !important;
}

/* traits list override */
.MuiListItemIcon-root {
	min-width: 20px !important;
}
.MuiTypography-root {
	font-weight: 400;
	color: #9ca3af;
	font-weight: 700 !important;
	font-size: 15px !important;
	line-height: 15px !important;
}
.MuiButtonBase-root {
	margin: 10px 0px !important;
	padding: 0px !important;
}
/* select overide */
.MuiSelect-selectMenu {
	height: 10px !important;
}
