* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Source Sans Pro', sans-serif !important;
}

body {
	overflow-y: hidden;
}
.mid-root {
	overflow-y: scroll !important;
}
.mid-root::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
}
@media screen and (max-width: 1030px) {
	.mid-root {
		overflow-y: inherit !important;
	}
	body {
		overflow-y: scroll;
	}
}
